@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }

  *,*::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Regular */
  @font-face {
    font-family: "Manrope-Regular";
    src: url("/src/assets/fonts/Manrope-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Bold */
  @font-face {
    font-family: "Manrope-Bold";
    src: url("/src/assets/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  body {
    background: rgb(var(--bg));
    color: rgb(var(--text-primary));
    font-family: "Manrope-Regular", sans-serif;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  .app-content {
    position: relative;
  }

  @media screen and (max-width: 991px) {
  section {
    scroll-margin-top: 60px;
  }
  }
}
