.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 15px 50px;
  @media screen and (max-width: 991px) {
    padding: 15px 20px;
  }
  .site-logo {
    width: 60px;
    mix-blend-mode: difference;
    z-index: 999;
  }
  .hamburger {
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 2rem;
    transition: all 0.3s ease;
    cursor: pointer;
    mix-blend-mode: difference;
    z-index: 999;
    &-line {
      position: absolute;
      right: 0;
      width: 100%;
      height: 0.125em;
      border-radius: 0.125em;
      background: rgb(var(--white));
      transition: inherit;
      &:nth-child(1) {
        top: 0.125em;
      }
      &:nth-child(2) {
        top: 0.438em;
      }
      &:nth-child(3) {
        top: 0.75em;
        width: 0.625em;
      }
    }
    &.is-active {
      .hamburger-line {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotateZ(-135deg);
        }
        &:nth-child(2) {
          right: 50%;
          width: 0;
        }
        &:nth-child(3) {
          top: 50%;
          width: 100%;
          transform: translateY(-50%) rotateZ(135deg);
        }
      }
    }
  }
  .nav-overlay {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    left: 0;
    top: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 99;
    & > span {
      position: relative;
      display: block;
      width: 100%;
      height: 25%;
      background: rgb(var(--black));
      transform: translateX(-100%);
      transition: all .5s cubic-bezier(.77, 0, .175, 1);
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
      &:nth-child(4) {
        transition-delay: 0.3s;
      }
    }
    .navlink-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      .nav-item {
        overflow: hidden;
      }
      .nav-link {
        display: block;
        font-size: 32px;
        color: rgb(var(--white));
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        transform: translateY(100%);
        transition: transform 1s cubic-bezier(.4, 0, .2, 1);
        &:nth-child(1) {
          transition-delay: 0.5s;
        }
        &:nth-child(2) {
          transition-delay: 0.6s;
        }
        &:nth-child(3) {
          transition-delay: 0.7s;
        }
      }
    }
    .sociallinks-wrapper {
      position: absolute;
      bottom: 80px;
      left: -100px;
      display: flex;
      flex-direction: column;
      gap:30px;
      color: rgb(var(--white));
      opacity: 0;
      transition: all .5s cubic-bezier(.77, 0, .175, 1);
    }
    .content-wrapper {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 100%;
      transform: translateX(-50%);
      padding: 15px;
      color: rgb(var(--white));
      opacity: 0;
      transition: all 1.2s cubic-bezier(.77, 0, .175, 1);
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &.open {
    .nav-overlay {
      visibility: visible;
      & > span {
        transform: translateX(0);
      }
      .nav-link {
        transform: translateY(0);
      }
      .sociallinks-wrapper {
        left: 50px;
        opacity: 1;
        @media screen and (max-width: 991px) {
          left: 20px;
        }
      }
    .content-wrapper {
      opacity: 1;
    }
    }
  }
}
